# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

# Africa's Talking SMS
AT_API_KEY="your_api_key_here"
AT_USERNAME="your_username_here"
AT_SHORTCODE="your_shortcode_here"

# Security
REMINDER_SECRET="your_super_secret_key_here"

SESSION_SECRET=""
ORIGIN=""

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=""
