@import 'tailwindcss';
@plugin '@tailwindcss/forms';

html,
body {
	min-height: 100%;
}

body {
	font-family: 'APK Protocol', 'Onest', sans-serif;
	background: #000;
	color: #f1f5f9;
}

@layer base {
	html {
		color-scheme: dark;
	}

	button:not(:disabled),
	[role='button']:not([aria-disabled='true']) {
		cursor: pointer;
	}

	input:where([type='text']),
	input:where(:not([type])),
	input:where([type='email']),
	input:where([type='url']),
	input:where([type='password']),
	input:where([type='number']),
	input:where([type='date']),
	input:where([type='datetime-local']),
	input:where([type='month']),
	input:where([type='search']),
	input:where([type='tel']),
	input:where([type='time']),
	input:where([type='week']),
	select,
	textarea {
		background-color: rgb(9 9 11 / 0.7);
		border-color: rgb(63 63 70 / 1);
		color: rgb(228 228 231 / 1);
	}

	input::placeholder,
	textarea::placeholder {
		color: rgb(113 113 122 / 1);
	}
}

@layer utilities {
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	input:where([type='text']):focus,
	input:where(:not([type])):focus,
	input:where([type='email']):focus,
	input:where([type='url']):focus,
	input:where([type='password']):focus,
	input:where([type='number']):focus,
	input:where([type='date']):focus,
	input:where([type='datetime-local']):focus,
	input:where([type='month']):focus,
	input:where([type='search']):focus,
	input:where([type='tel']):focus,
	input:where([type='time']):focus,
	input:where([type='week']):focus,
	select:where([multiple]):focus,
	textarea:focus,
	select:focus {
		--tw-ring-color: rgb(16 185 129 / var(--tw-ring-opacity, 1)) !important;
		border-color: rgb(16 185 129 / var(--tw-border-opacity, 1)) !important;
	}
}
